.Card {
    border: 2px solid  #1A281F;
    height: 60vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &:hover {
        box-shadow: 10px 10px 20px;
        cursor: pointer;
        transition: 0.2s;
    }
}
.BookImage {
    height: 50%;
    width: 50%;
}